.booking_container {
  /* border: 1px solid black; */
  width: 100%;
  min-height: 250px;
  max-height: max-content;
}
.booking_top {
  display: flex;
  justify-content: space-evenly;
  overflow-x: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.booking_top button {
  width: 180px;
  height: 60px;
  border: none;
  padding: 10px 0 5px;
  background-color: white;
}
.booking_top button:focus {
  border-bottom: 4px solid rgb(109, 150, 197);
}
.booking_slot {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.morningblock {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.morningtext {
  margin-right: 70px;
}
.afternoonblock {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.afternoontext {
  margin-right: 60px;
}
.Morningslots {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.Afternoonslots {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.booking_slot button {
  width: 84px;
  height: 35px;
  color: #2d2d32;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}
@media all and (max-width: 600px) {
  .booking_container {
    /* border: 1px solid black; */
    margin-left: -40%;
    width: 370px;
  }
  .booking_top {
    display: flex;
  }
  .booking_top button {
    width: 180px;
    height: 60px;
    border: none;
    padding: 10px 0 5px;
    background-color: white;
  }
  .booking_slot {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .morningtext {
    margin-right: 10px;
  }

  .afternoontext {
    margin-right: 10px;
  }
  .Morningslots {
    /* border: 1px solid black; */
    overflow-x: scroll;
  }
  .Afternoonslots {
    /* border: 1px solid black; */
    overflow-x: scroll;
  }
}
