/* .listingleft {
  width: 905px;
  height: 5617px;
} */
.abc {
  /* border: 1px SOLID black; */
  padding: 0px 5rem;
  display: flex;
  /* justify-content: center; */
}

.listing_doctor_card {
  padding: 24px 0px;
  display: flex;
  width: 785px;
  height: 225px;
}

.doctorimg img {
  height: 140px;
  width: 140px;
}
.info_section {
  padding: 0px 16px;
  width: 380px;
  height: 176.7px;
}
h2 {
  font: 20px;
  margin: 0;
  color: #14bef0;
  width: 348.34px;
  height: 28px;
}

.profession {
  margin-top: 10px;
  width: 348px;
  height: 19.2px;
  color: #787887;
}
.consultfee {
  width: 348.34px;
  height: 43px;
  color: #414146;
  font-size: 14px;
  margin-top: 35px;
}
.aval {
  display: flex;
  justify-content: center;
}
.but {
  margin-top: 20px;
  margin-left: 40px;
  border: 1px solid black;
}
.appointment_section {
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: center;
  width: 220px;
  height: 176px;
  margin: 0px 16px;
}
